
<div class="jumbotron text-center" style="margin-top:40px;">
    <h3 style="color: peru; font-size: 60px; text-align: center; margin-top:25px;">Order Confirmed Successfully</h3>

    <h1 class="display-7">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for your order Details</p>
    <hr>
    <p>Having trouble? <a href="#">Contact us</a></p>
    <p class="lead"><a class="btn btn-primary btn-sm" href="#" role="button">Continue to homepage</a></p>
    <h1 style="color: peru; font-size: 60px; text-align: center; margin-top:30px;">You will Receive your order on </h1>

    <!-- Display the delivery date -->
    <h5 style="color: peru; font-size: 60px; text-align: center; margin-top:30px;">@Model.Date.ToString("dddd, MMMM dd, yyyy")</h5>
    <p class="lead"><strong>Please check your email</strong> for more  Details</p>
</div>
